<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2017 Rachel030219

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.rachel030219.hashchecker">

	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
		android:supportsRtl="true">

        <activity
            android:name="net.rachel030219.hashchecker.activities.MainActivity"
			android:theme="@style/AppTheme.Transparent">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
			
			<intent-filter>  
				
				<action android:name="android.intent.action.SEND" />  

				<category android:name="android.intent.category.DEFAULT" />  

				<data android:mimeType="*/*" />  
					
			</intent-filter>

			<intent-filter>

                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>

            </intent-filter>

        </activity>

        <activity android:name="net.rachel030219.hashchecker.activities.CalcActivity"
            android:theme="@style/AppTheme.Transparent.Full">

            <intent-filter>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_MD5"/>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_SHA1"/>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_SHA256"/>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_SHA384"/>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_SHA512"/>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_CRC32_HEX"/>

                <action android:name="net.rachel030219.hashchecker.action.CALCULATE_CRC32_DEC"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>

            </intent-filter>

        </activity>

		<activity
			android:name="net.rachel030219.hashchecker.activities.SettingsActivity"
			android:label="@string/setting"/>

		<activity
			android:name="net.rachel030219.hashchecker.activities.AboutActivity"
			android:label="@string/about"/>

	</application>

</manifest>
